# Environment
python-dotenv

# Flask and related
Flask
Flask-Dance
Werkzeug
itsdangerous
Jinja2
MarkupSafe

# PostgreSQL
psycopg2-binary

# Password hashing
bcrypt

# PDF generation
reportlab

# Google OAuth
oauthlib
requests-oauthlib

# Razorpay payments
razorpay

# Optional: if you use gunicorn for deployment
gunicorn

razorpay
setuptools<81