.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body h5 {
    font-weight: bold;
}

form {
    margin-bottom: 0;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
}

.btn-success.w-100 {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    transition: background 0.2s, border 0.2s;
}
.btn-success.w-100:hover, .btn-success.w-100:focus {
    background-color: #b52a37;
    border-color: #b52a37;
    color: #fff;
}
